[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Bas1ir
	email = rinasbas@gmail.com
	rmail = rinasbas@gmail.com
[iser]
	email = rinasbasir@mail.ru
